<div class="row">
  <div class="col-8">
    <div
      *ngFor="let product of products"
      class="card mb-4"
      style="width: min-content;"
    >
      <img src="{{ product.thumbnail }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price | currency : "INR" }}</p>
        <a href="#" class="btn btn-primary" (click)="addToCart(product)"
          >Add to cart</a
        >
        <a
          href="#"
          class="btn btn-secondary"
          routerLink="/shop-details/{{ product.id }}"
          >Details</a
        >
      </div>
    </div>
 
  </div>
  <div class="col-4">
    <app-products-added [productAdded]="showAddedProducts"></app-products-added>
  </div>
</div>
