<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-8">
      <app-listing
        (onSelect)="addedToCart($event)"
        [color]="'black'"
      ></app-listing>
    </div>
    <div class="col-4">
      <ul>
        <li *ngFor="let item of showAddedProducts">
          <label class="p-4">{{ item.name }}</label>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="removeItem(item)"
          >
            Delete
            <img src="/assets/trash3-fill.svg" alt="Bootstrap" height="21px" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
