<button (click)="toggleView()">
  Switch to {{ isListView === true ? "Grid" : "List" }}
</button>

<div class="container" *ngIf="isListView; else gridView">
  <ul>
    <li>Employee:  {{ name }}</li>
    <li>Company name:  {{ company }}</li>
    <li>Years of experience:  {{ experience }}</li>
    <li>Technical skills:  
      <ul *ngFor="let skillList of skills">{{ skillList }}</ul>
    </li>
  </ul>
</div>
<ng-template #gridView>
  <table>
    <tr>
      <td>Employee:</td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td>Company name:</td>
      <td>{{ company }}</td>
    </tr>
    <tr>
      <td>Years of experience:</td>
      <td>{{ experience }}</td>
    </tr>
    <tr>
      <td>Technical skills:</td>
      <td>
        <tr *ngFor="let skillList of skills; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ skillList }}</td>
        </tr>
      </td>
    </tr>
  </table>
</ng-template>
